---
---

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;

  .book {
    width: 800px;
    height: 800px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
