---
---

@import "colors";
@import "variables";

@keyframes pulse {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: transparent;
  }
  26% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $main;

  .book {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .area {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .leg-a,
    .leg-b,
    .hypotenuse {
      background-color: black;
    }

    .center {
      position: relative;
      width: 1px;
      height: 1px;
      animation: pulse 1s infinite;

      .leg-a,
      .leg-b,
      .hypotenuse {
        position: absolute;
      }

      .leg-a {
        height: 1px;
      }

      .leg-b,
      .hypotenuse {
        width: 1px;
      }

      &.I {
        .leg-a {
          left: 1px;
          bottom: 0;
        }

        .leg-b {
          right: 0;
          bottom: 1px;
        }

        .hypotenuse {
          transform-origin: bottom left;
          left: 0;
          bottom: 1px;
        }
      }

      &.II-I {
        .leg-b {
          bottom: 1px;
        }

        .hypotenuse {
          display: none;
        }
      }

      &.II {
        .leg-a {
          right: 1px;
          bottom: 0;
        }

        .leg-b {
          left: 0;
          bottom: 1px;
        }

        .hypotenuse {
          transform-origin: bottom right;
          right: 0;
          bottom: 1px;
        }
      }

      &.II-III {
        .leg-a {
          right: 1px;
        }

        .leg-b,
        .hypotenuse {
          display: none;
        }
      }

      &.III {
        .leg-a {
          right: 1px;
        }

        .leg-b {
          top: 1px;
        }

        .hypotenuse {
          transform-origin: top right;
          top: 1px;
        }
      }

      &.III-IV {
        .leg-b {
          top: 1px;
        }

        .hypotenuse {
          display: none;
        }
      }

      &.IV {
        .leg-a {
          left: 1px;
        }

        .leg-b {
          right: 0;
          top: 1px;
        }

        .hypotenuse {
          transform-origin: top left;
          top: 1px;
        }
      }

      &.I-IV {
        .leg-a {
          left: 1px;
        }

        .leg-b,
        .hypotenuse {
          display: none;
        }
      }
    }

    .info {
      position: absolute;
      top: 0;
      right: -140px;
      width: 130px;
    }
  }
}
