<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/home.css" type="text/css" />
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <div class="book">
      <img src="data:assets/images/front.jpg" alt="front" />
      <img src="data:assets/images/white.jpg" alt="white page" />
      <img src="data:assets/images/1.jpg" alt="page one" />
      <img src="data:assets/images/2.jpg" alt="page two" />
      <img src="data:assets/images/3.jpg" alt="page three" />
      <img src="data:assets/images/4.jpg" alt="page four" />
      <img src="data:assets/images/5.jpg" alt="page five" />
      <img src="data:assets/images/6.jpg" alt="page six" />
      <img src="data:assets/images/7.jpg" alt="page seven" />
      <img src="data:assets/images/8.jpg" alt="page eight" />
      <img src="data:assets/images/white.jpg" alt="white page" />
      <img src="data:assets/images/back.jpg" alt="back" />
    </div>

    <script
      src="assets/js/jquery/jquery-3.4.1.min.js"
      type="text/javascript"
    ></script>
    <script src="assets/js/home.js" type="text/javascript"></script>
  </body>
</html>
