<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="assets/css/mouse-position.css"
      type="text/css"
    />
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    {% include menu.html %}

    <div class="book"></div>

    <script
      src="assets/js/jquery/jquery-3.4.1.min.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/mouse-position/mouse-position-debug.min.js"
      type="text/javascript"
    ></script>
    <script src="assets/js/mouse-position.js" type="text/javascript"></script>
  </body>
</html>
